.passage-content {
  margin: 20px -15px 0;
  padding: 50px 100px;
  background: #f1f1f1;
  text-align: left;
  .passage-display {
    margin: 0 0 20px;
    font-size: 1.55rem;
    .passage-display-bcv {
      margin: 0;
    }
    .passage-display-version {
      font-size: 1rem;
      font-weight: 400;
    }
  }
  h3 {
    font-size: 1.3rem;
  }
  span.chapternum {
    font-size: 20px;
    font-weight: 700;
    position: relative;
    line-height: .8em;
    left: 0;
    text-indent: 0;
  }
  sup.versenum {
    font-weight: 700;
    font-size: 12px;
    font-size: 12px;
  }
  sup.footnote {
    display: none;
  }
  .crossrefs, .footnotes  {
    display: none;
  }
  ol {
    padding-left: 20px;
    list-style-type: lower-alpha;
  }
  .publisher-info-bottom {
    border-top: 1px solid #deddd9;
    padding-top: 1em;
    position: relative;
    strong {
      display: none;
    }
  }
  @media(max-width: 576px) {
    padding: 35px 25px;
  }
}
input[type='text'].elvanto-form-control, input[type='email'].elvanto-form-control, textarea.elvanto-form-control {
  font-size: 16px;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  &:focus {
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
}
.elvanto-form-group .checkbox-group {
  padding: .75rem;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  .item {
    margin-bottom: .75rem;
    &:last-child {
      margin-bottom: 0;
    }
    label {
      display: flex;
      align-items: center;
      padding: 0;
      font-size: 16px;
      input {
        position: static;
        margin: 0 10px 0 0;
      }
    }
  }
}
label.elvanto-form-label {
  font-size: 16px;
}
button.elvanto-submit {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: #AF222A;
  display: block;
  width: 100%;
  font-size: 16px;
}
#trix-editor-top-level {
  trix-toolbar {
    .trix-button-group--file-tools {
      display: none;
    }
  }
  trix-editor {
    font-size: 16px;
    border: 0;
  }
}
